[Desktop Entry]
Type=Application
Name=Yazi
Comment=Terminal file manager
Exec=xdg-terminal-exec yazi %f
Icon=yazi
Terminal=false
MimeType=inode/directory;
Categories=System;Utility;FileManager;
