themes {
	monokai-pro {
		fg "#fcfcfa"
		bg "#2d2a2e"
		black "#221f22"
		red "#ff6188"
		green "#a9dc76"
		yellow "#ffd866"
		blue "#78dce8"
		magenta "#ab9df2"
		cyan "#78dce8"
		white "#fcfcfa"
		orange "#fc9867"
	}
}
