(
    selected_tab: Some("#ffd866"),
    command_fg: Some("#fcfcfa"),
    selection_bg: Some("#403e41"),
    selection_fg: Some("#fcfcfa"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#221f22"),
    disabled_fg: Some("#939293"),
    diff_line_add: Some("#a9dc76"),
    diff_line_delete: Some("#ff6188"),
    diff_file_added: Some("#a9dc76"),
    diff_file_removed: Some("#ff6188"),
    diff_file_moved: Some("#ab9df2"),
    diff_file_modified: Some("#ffd866"),
    commit_hash: Some("#ab9df2"),
    commit_time: Some("#78dce8"),
    commit_author: Some("#a9dc76"),
    danger_fg: Some("#ff6188"),
    push_gauge_bg: Some("#78dce8"),
    push_gauge_fg: Some("#2d2a2e"),
    tag_fg: Some("#fc9867"),
    branch_fg: Some("#ffd866"),
    line_break: Some("¶"),
    block_title_focused: Some("#78dce8"),
    syntax: Some("base16-ocean.dark"),
)
